@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FBFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
   font-family: "Fredoka", sans-serif;
}
.btn-gradient {
  background: linear-gradient(90deg, #FF4B55 0%, #BA3139 100%);
}
.productBoxShadow{
  box-shadow: 5.07px 5.07px 15.2px 0px #00000010;
}
.slick-track{
  padding: 20px 0px;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
