@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FBFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
  font-family: "Fredoka", sans-serif;
}

.btn-gradient {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #FF4B55 0%, #BA3139 100%);
  transition: 0.3s ease;
}

/* Shine / Flash Effect */
.btn-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  /* Start off-screen on the RIGHT */
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 100%);
  transition: 0.4s ease;
}

.btn-gradient:hover::after {
  left: 100%;
  /* Move shine to the LEFT */
}

.productBoxShadow {
  box-shadow: 5.07px 5.07px 15.2px 0px #00000010;
}

.slick-track {
  padding: 20px 0px;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}